<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loyalty.crm.dao.BasicCompanyMapper">
    <resultMap id="BaseResultMap" type="org.loyalty.crm.domain.BasicCompany">
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="cptl" property="cptl" />
        <result column="type1" property="type1" />
        <result column="type2" property="type2" />
        <result column="type3" property="type3" />
        <result column="name1" property="name1" />
        <result column="name2" property="name2" />
        <result column="name3" property="name3" />
    </resultMap>

    <parameterMap id="Company" type="org.loyalty.crm.domain.BasicCompany"/>

    <sql id="t_basic_company">basic_company</sql>

    <sql id="Base_Column_List">
        id,code,name,type,cptl,type1,type2,type3,name1,name2,name3
    </sql>

    <sql id="condition_sql">
        <if test="code != null and code != ''">
            AND code like CONCAT('%',#{code},'%')
        </if>
        <if test="name != null and name != ''">
            AND name like CONCAT('%',#{name},'%')
        </if>
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from
        <include refid="t_basic_company" />
        where id = #{id}
    </select>

    <select id="findAllCompany" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from
        <include refid="t_basic_company" />
        <where>
            <include refid="condition_sql" />
        </where>
    </select>
</mapper>
